<h1>Editing order</h1>
<%= form_for :order, url: order_path(@order), method: :patch do |f| %>
  <% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %> prohibited
      this order from being saved:</h2>
    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <!-- 3. 数量 -->
  <p>
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </p>
  <!-- 4. 製品サイズ -->
  <p>
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </p>
  <!-- 5. 片面 or 両面 -->
  <p>
    <%= f.label :is_oneside %><br>
    <%= f.check_box :is_oneside %>
  </p>
  <!-- 6. 製品種別 -->
  <p>
    <%= f.label :product_type %><br>
    <%= f.text_field :product_type %>
  </p>
  <!-- 7. 内製 or 外注 在庫-->
  <p>
    <%= f.label :order_type %><br>
    <%= f.check_box :order_type %>
  </p>
  <!-- 8. 新規 or 再版 -->
  <p>
    <%= f.label :is_reprint %><br>
    <%= f.check_box :is_reprint %>
  </p>
  <!-- 9. 営業担当者 or 外注先名 -->
  <p>
    <%= f.label :assignee %><br>
    <%= f.text_field :assignee %>
  </p>
  <!-- 10. 発注者名(得意先) -->
  <p>
    <%= f.label :customer_name %><br>
    <%= f.text_field :customer_name %>
  </p>
  <!-- 11. 印刷用紙 -->
  <p>
    <%= f.label :paper %><br>
    <%= f.text_field :paper %>
  </p>
  <!-- 12. 印刷機械 -->
  <p>
    <%= f.label :machine %><br>
    <%= f.text_field :machine %>
  </p>
  <!-- 13. 備考 -->
  <p>
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </p>
  <!-- 14. 校正予定日 -->
  <p>
    <%= f.label :proof_date %><br>
    <%= f.datetime_select :proof_date %>
  </p>
  <!-- 15. 校了予定日 -->
  <p>
    <%= f.label :koryo_date %><br>
    <%= f.datetime_select :koryo_date %>
  </p>
  <!-- 16. 印刷予定日 -->
  <p>
    <%= f.label :print_date %><br>
    <%= f.datetime_select :print_date %>
  </p>
  <!-- 17. 製造予定日 -->
  <p>
    <%= f.label :bookbind_date %><br>
    <%= f.datetime_select :bookbind_date %>
  </p>

  <p>
    <%= f.submit :class => 'btn btn-primary' %>
  </p>
<% end %>
<%= link_to 'Back', orders_path %>
